@font-face {
  font-family: 'pokemon';
  src: url(../recursos/fuentes/nunito/Nunito-Italic-VariableFont_wght.ttf),
       url(../recursos/fuentes/nunito/Nunito-VariableFont_wght.ttf);
       font-weight: 300;
       

      }
