.imagen-pokemon{
    height: 209px;
    width: 155px;
    list-style: none;
    padding: 12px;
    background-image: url();
    text-align: center;
    background-repeat: round;
    
       
    border: 4px rgba(111, 174, 2, 0.84) solid;
    border-radius: 3%;
    transition: transform 0.5s ease-in-out;
  }
  .imagen-titulo{
    width: 100%;
    //si quiero fondo el bck-image
    background-image: url();
    
  


  }